/* CreatePage.css */

@font-face {
	font-family: testFont;
	src: url("CoveredByYourGrace-Regular.ttf");
}

body {
	background-color: #f8f3f1;
}

.top-bar {
	display: flex;
	justify-content: center;
}

.top-bar > img {
	position: relative;
	align-self: center;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.top-bar > h1 {
	position: relative;
	text-align: center;
	color: #516754;
	font-size: 6rem;
	font-family: testFont;
}
