/* homepage.css */
/* Color*/
body{
    /*background-color: #97a5bd*/
    background-color: #E3E3EC;
}
.Top-Bar{
}
.Top-Bar > img{
    position: relative;
}
.Top-Bar > h1{
    position: relative;
    text-align: center;
    /*color: #E4C3D2;*/
    color: #8284D0;
    font-size: 100px;
    font-family: 'Lucida Sans';
}
.Top-Bar > form{
    position: relative;
    float: right;
}
.Review-boxes {
    position: relative;
}

#recent-reviews-text {
    font-family: 'Lucida Sans';
    text-align: center;
    font-size: 80px;
    /*Color: #E4C3D2;*/
    color: #8284D0;

}
.Review-boxes > input {
    position: relative;
}

img#create-btn {
    position: relative;
}

.Filter-box{
    background: #e4d9e9;
    position: absolute;
    border: 5px solid #99a2c2;
}
.review-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.review-container > div {
    background-color: #f1f1f1;
    text-align: center;
  }